/*

Palette HEX

Dark Blue     556270
Ocean Green   4ECDC4
Lime Green    C7F464
Enso Red      FF6B6B
Dark Red      C44D58

*/

/* Base */

html {
  padding: 5em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

p {
  font-size: 1.5em;
  line-height: 1.67em;
  font-weight: 300;
}

blockquote {
  font-size: 0.8em;
}
