/*

Palette HEX

Dark Blue     556270
Ocean Green   4ECDC4
Lime Green    C7F464
Enso Red      FF6B6B
Dark Red      C44D58

*/

/* Base */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
  -ms-overflow-style: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

section a {
  border-bottom: 1px solid #eeeeee;
  text-decoration: none;
}

section a:hover {
  text-decoration: none;
}

p {
  font-size: 1.5em;
  line-height: 1.67em;
  font-weight: 300;
}

blockquote {
  font-size: 0.8em;
}

pre {
  text-align: left;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 991px) {
  body {
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    transition: transform 300ms ease;
    -ms-overflow-style: none;
  }
}

/* Mobile Nav */

.mobile-nav {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100px;
  transition: background 300ms ease;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
}

.mobile-nav ul {
  display: inline;
}

.mobile-nav ul li:first-of-type {
  float: left;
}

.mobile-nav ul li:last-of-type {
  float: right;
}

.mobile-nav ul li {
  display: inline-block;
  position: relative;
  line-height: 100px;
  transition: all 300ms ease;
}

.mobile-nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  color: white;
  text-decoration: none;
}

.mobile-nav ul li a:hover,
.mobile-nav ul li a:focus {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.mobile-nav-overlay {
  color: white;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #111, #333);
  overflow: scroll;
}

.mobile-nav-overlay-show {
  transform: translate(0, 0%);
  overflow: hidden;
}

.mobile-nav-overlay-close {
  font-size: 2em;
  display: inline;
  float: right;
}

.mobile-nav-overlay-close a {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-nav-overlay ul {
  text-align: center;
  padding: 0;
}

.mobile-nav-overlay ul li {
  display: block;
  line-height: 75px;
  transition: all 300ms ease;
  font-size: 1.5em;
}

.mobile-nav-overlay ul li:first-child {
  text-transform: uppercase;
  font-size: 1.0em;
  color: #FF6B6B;
}

.mobile-nav-overlay ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.mobile-nav-overlay ul li a:focus, 
.mobile-nav-overlay ul li a:hover {
  color: white;
  background: #FF6B6B;
  text-decoration: none;
}

/*
  Large Device Nav
*/

nav {
  color: white;
  font-size: 1.1em;
  position: absolute;
  width: 100%;
  height: 100px;
  transition: background 300ms ease;
  z-index: 999;
}


nav:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav ul:last-of-type {
  float: right;
}

nav ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul:hover {
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  position: relative;
  line-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 300ms ease;
}

nav ul li:hover, 
nav ul li:focus {
  background: rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul, 
nav ul li:focus ul {
  display: block;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
  color: white;
  text-decoration: none;
}

nav ul li ul {
  transition: all 300ms ease;
  position: absolute;
  left: 0;
  display: none;
  width: 300px;
  padding: 0;
  margin: 0;
}

nav ul li:last-of-type ul,
nav ul li:nth-last-child(2) ul {
  position: absolute;
  right: 0;
  left: initial;
}

nav ul li ul li {
  transition: all 300ms ease;
  display: block;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.9);
}

nav ul li ul li a {
  transition: all 300ms ease;
  padding-left: 20px;
  display: block;
}

nav ul li ul li a:hover, 
nav ul li ul li a:focus {
  background: #FF6B6B;
}

/* Grid Extentions */

.poster {
	display: table;
	height: 100%;
	width: 100%;
}

.poster-min {
  display: table;
  height: 100px;
  width: 100%;
}

.poster-half {
  display: table;
  height: 50%;
  width: 100%;
}

.poster-3of4 {
  display: table;
  height: 75%;
  width: 100%;
}

.poster-double {
  display: table;
  height: 200%;
  width: 100%;
}

.poster-cell {
	display: table-cell;
  padding-top: 2em;
  padding-bottom: 2em;
  vertical-align: middle;
}

.poster-cell-bottom {
  display: table-cell;
  padding-top: 2em;
  padding-bottom: 2em;
  vertical-align: bottom;
}

.poster-cell-top {
  display: table-cell;
  padding-top: 2em;
  padding-bottom: 2em;
  vertical-align: top;
}

@media (max-width: 767px) {
  .scalable-svg {
    width: 50%;
  }

  .scalable-svg-quadratic {
    width: 75%;
  }

  .scalable-svg-rect {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .scalable-svg {
    width: 25%;
  }

  .scalable-svg-quadratic {
    width: 50%;
  }

  .scalable-svg-rect {
    width: 75%;
  }
}

.dark {
  color: white;
}

@media (max-width: 767px) {
  .dark {
    color: white;
    text-align: center;
  }
  .bright {
    color: black;
    text-align: center;
  }
}

.dark hr {
  width: 10%;
  border-top: 5px solid white;
}

.dark a {
  color: #ddd;
  text-decoration: none;
}

.dark a:hover {
  text-decoration: none;
}

.bright {
  color: black;
}

.bright hr,
section hr,
.section-double hr {
  width: 10%;
  border-top: 5px solid #333;
  margin-top: 5em;
  margin-bottom: 5em;
}

/* Content */

@media (max-width: 767px) {
  section {
    text-align: center;
  }
}

/*

Palette HEX

Dark Blue     556270
Ocean Green   4ECDC4
Lime Green    C7F464
Enso Red      FF6B6B
Dark Red      C44D58

*/

.btn-hipster {
  border: 1px solid white;
  color: white !important;
  padding: 2em;
  transition: background 300ms ease;
}

.btn-hipster:hover,
.btn-hipster:focus,
.btn-hipster:active {
  background: #4ECDC4;
  color: white;
}

.btn-hipster-bl {
  border: 2px solid #888;
  color: black !important;
  padding: 2em;
  transition: background 300ms ease;
}

.btn-hipster-bl:hover,
.btn-hipster-bl:focus,
.btn-hipster-bl:active {
  border: 2px solid #556270;
  background: #FF6B6B;
  color: white !important;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-single {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-double {
  padding-top: 200px;
  padding-bottom: 200px;
}

.slogan {
  font-size: 2em;
  font-weight: 300;
}

@media (min-width: 768px) {
  .p-xl {
    font-size: 4em;
    font-weight: 300;
  }

  .p-l {
    font-size: 2.0em;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .p-xl {
    font-size: 3em;
    font-weight: 300;
  }

  .p-l {
    font-size: 1.5em;
    font-weight: 300;
  }
}

.with-svg-enum img {
  width: 100%;
}

.with-svg-enum-half img {
  width: 50%;
}

.img-reduced img {
  width: 80%;
}

#map {
  height: 400px;
  width: 100%;
}

.gentle {
  margin-top: 2em;
}

.gentle-l {
  margin-top: 5em;
}

.gentle-xl {
  margin-top: 10em;
}

.gentle-bottom {
  margin-bottom: 2em;
}

.highlight {
  border-bottom: 2px solid #eee;
}

.date {
  color: #333;
}

@media (min-width: 768px) {
  .author {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .author {
    width: 25%;
  }
}

.author-detail {
  padding-top: 1em;
  font-size: 1.25em;
}

.row-blog {
  margin-bottom: 3em;
}

/*

Palette HEX

Dark Blue     556270
Ocean Green   4ECDC4
Lime Green    C7F464
Enso Red      FF6B6B
Dark Red      C44D58

*/

#particles canvas {
  position: absolute;
}

.default {
  background: linear-gradient(150deg, #C44D58, #556270);
}

.stack {
  background: url('../img/munich-ed.jpg') no-repeat center center;
  background-size: cover;
}

.viz {
  background: url('../img/viz.jpg') no-repeat center center;
  background-size: cover;
}

.ml {
  background: url('../img/ml.jpg') no-repeat center center;
  background-size: cover; 
}

/* Footer */

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #bbb;
  font-size: 0.8em;
}

footer hr {
  width: 10%;
}

.active-lang {
  font-weight: bold;
}

/* Helper */

@media (min-width: 768px) {
  .vert {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    display: ms-flexbox;
  }
}
