/*

Palette HEX

Dark Blue     556270
Ocean Green   4ECDC4
Lime Green    C7F464
Enso Red      FF6B6B
Dark Red      C44D58

*/

/* Base */

html {
  padding: 12em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 2em;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

p {
}

blockquote {
  font-size: 0.8em;
}

#disqus_thread {
  margin-top: 120pt;
}

.text-center {
  text-align: center;
}